.navbar-white{
	background-color: white;
}



.nav.pull-right{
	li{
		a{
			display: inline;
		}
	}
}

.dropdown{
	position: relative;
	.dropdown-links{
		display: none;
	}
	&:hover .dropdown-links{
		display: block;
	}
	a{
		display: block;
		background-color: #f8f8f8;
		position: absolute;
		left: 20px;
		width: 150px;
		&:hover{
			color: black;
			text-decoration: none;
		}
	}

$menu_links: 8;
@for $i from 0 to $menu_links{
	.dropdown-links a:nth-child(#{$i}){
		top: 15 + ($i * 20)+px
	}
}











}